## Машинное обучение

Рассматривается задача бинарной классификации прогнозирования дождя. За основу взяты данные о погоде в Австралии.

Работу выполнил студент группы 3822М1ПМкн-2 Голенков Юрий Витальевич.

Импортируем необходимые для работы библиотеки:

In [10]:
import numpy as np              # Библиотека для работы с массивами 
import matplotlib.pyplot as plt # Научная графика
%matplotlib inline 
                                # Вывод графиков внутри веб-браузера
import pandas as pd             # Библиотека с необходимыми струкурами данных (dataframe, series)
import seaborn as sns           # Визуализация данный
import sklearn                  # Алгоритмы машинного обучения

# Чтение данных и предварительаная обработка

In [11]:
dt = pd.read_csv('Weather Training Data.csv')
dt.head()

,row ID,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,Row0,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0
1,Row1,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0
2,Row2,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0
3,Row3,Albury,14.6,29.7,0.2,NaN,NaN,WNW,56.0,W,...,55.0,23.0,1009.2,1005.4,NaN,NaN,20.6,28.9,No,0
4,Row4,Albury,7.7,26.7,0.0,NaN,NaN,W,35.0,SSE,...,48.0,19.0,1013.4,1010.1,NaN,NaN,16.3,25.5,No,0

In [12]:
dt.shape # Почти 10.000 записей в таблице и 23 признака

(99516, 23)

Каждая запись представляет собой данные о погоде в конкртном месте. Опишем признаки более подробно.

In [13]:
dt.columns

Index(['row ID', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RainTomorrow'],
      dtype='object')

Location - Название города в Австралии.
MinTemp - Минимальная температура течение определенного дня. (градусы Цельсия)
MaxTemp - Максимальная температура течение определенного дня. (градусы Цельсия)
Rainfall - Количество осадков в течение определенного дня. (мм)
Evaporation - Испарение в течение определенного дня. (мм)
Sunshine - Время солнечной погоды в течение дня. (часы)
WindGusDir - Направление самого сильного порыва ветра в течение дня. (16-точечный компас)
WindGuSpeed -  Скорость самого сильного порыва ветра в течение определенного дня. (км/ч)
WindDir9am - Направление ветра за 10 минут до 9 утра. (по компасу)
WindDir3pm - Направление ветра за 10 минут до 3 часов дня. (по компасу)
WindSpeed9am - Скорость ветра за 10 минут до 9 утра. (км/ч)
WindSpeed3pm - Скорость ветра за 10 минут до 3 часов дня. (км/ч)
Humidity9am - влажность в 9 утра. (в процентах)
Humidity3pm - влажность ветра в 3 часа дня. (в процентах)
Pressure9am - Атмосферное давление в 9 утра. (гектопаскали)
Pressure3pm - Атмосферное давление в 3 дня. (гектопаскали)
Cloud9am - затянутые облаками участки неба в 9 утра.
Cloud3pm - затененные облаками участки неба в 3 часа дня.
Temp9am - Температура в 9 утра. (градусы Цельсия)
Temp3pm - Температура в 3 часа дня. (градусы Цельсия)
RainToday -  Если сегодня дождливый день, то ‘Yes’. Если сегодня не будет дождя, тогда ‘No’.
RainTomorrow - Если завтра будет дождь, то 1. Если завтра не будет дождей, то 0.